@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --light-red: hsl(356, 100%, 66%);
    --very-light-red: hsl(355, 100%, 74%);

    --very-dark-grayish-blue: hsl(207, 13%, 34%);
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: Overpass, sans-serif;
}